table th, table td {
    font-size: 12px;
}

th {
    background-color:#333;
    color: white;
} 

.weekend {
    background:#f5d76a;
    text-align: center;
}

.absent {
    background:#ffc6cd;
    text-align: center;
}

.holidays {
    background:#cdffc6;
    text-align: center;
}